* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: $font-primary;
  height: 100vh;
  background-image: url('../../assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
}
