* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: $font-primary;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.home {
    background-image: url('../../assets/images/bg.jpg');
  }
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

@import '../../assets/global/components/buttons.scss';
@import '../../assets/global/components/forms.scss';
