.burger {
  position: relative;
  z-index: 101;
  display: inline-block;
  width: 60px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:hover {
    .burger__stripe {
      width: 100%;
    }
  }

  &:before,
  &:after {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: $yellow400;
    content: '';
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &__stripe {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 5px;
    background-color: $yellow400;
    opacity: 1;
    visibility: visible;
  }

  &--active {
    .burger__stripe {
      opacity: 0;
      visibility: hidden;
    }

    &:before {
      transform: rotate(45deg);
      transform-origin: 7px 9px;
    }

    &:after {
      transform: rotate(-45deg);
      transform-origin: 9px -4px;
    }
  }
}

.home {
  .burger {
    display: none;
  }
}
