.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  padding: 40px 0;

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 460px) {
    position: static;
    background-color: $gray300;
  }
}

.home {
  .header {
    @media screen and (max-width: 460px) {
      position: fixed;
      background-color: transparent;
    }
  }
}
